In [ ]:
# Name - Thejesh Ravikumar
# CWID - 20021148
# HW Assignment 2 - KNN methodology

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

In [6]:
#load the data
tr =pd.read_csv(r"E:\breast-cancer-wisconsin.csv")
tr =pd.DataFrame(tr)
tr.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [7]:
tr= tr[tr != '?'].dropna()
print(tr[tr.isna().any(axis=1)])

split_1 = tr.drop(columns = ['Class'])
split_2 = tr['Class']
split_1.head()

Empty DataFrame
Columns: [Sample, F1, F2, F3, F4, F5, F6, F7, F8, F9, Class]
Index: []

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9
0  1000025   5   1   1   1   2   1   3   1   1
1  1002945   5   4   4   5   7  10   3   2   1
2  1015425   3   1   1   1   2   2   3   1   1
3  1016277   6   8   8   1   3   4   3   7   1
4  1017023   4   1   1   3   2   1   3   1   1

In [8]:
split_2.head()

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
split_1=pd.DataFrame(scaler.fit_transform(split_1), columns=split_1.columns)
split_1.head()

,Sample,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,0.069946,0.444444,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.0
1,0.070164,0.444444,0.333333,0.333333,0.444444,0.666667,1.000000,0.222222,0.111111,0.0
2,0.071096,0.222222,0.000000,0.000000,0.000000,0.111111,0.111111,0.222222,0.000000,0.0
3,0.071160,0.555556,0.777778,0.777778,0.000000,0.222222,0.333333,0.222222,0.666667,0.0
4,0.071216,0.333333,0.000000,0.000000,0.222222,0.111111,0.000000,0.222222,0.000000,0.0

In [21]:
#splitting the data into training and testing datasets.
split_1_train, split_1_test, split_2_train, split_2_test = train_test_split(split_1,split_2, test_size=0.3, random_state=4,shuffle = True)

knn_value = KNeighborsClassifier(n_neighbors = 3)
knn.fit(split_1_train, split_2_train)
target_pred = knn.predict(split_1_test)
accuracy = accuracy_score(split_2_test,target_pred)  
print(f'Accuracy of model with k = 3: {accuracy} %')
print('')

Accuracy of model with k = 3: 0.9512195121951219 %

In [22]:
split_1_train, split_1_test, split_2_train, split_2_test = train_test_split(split_1,split_2, test_size=0.3, random_state=4,shuffle = True)

knn_value = KNeighborsClassifier(n_neighbors = 5)
knn.fit(split_1_train, split_2_train)
target_pred = knn.predict(split_1_test)
accuracy = accuracy_score(split_2_test,target_pred)  
print(f'Accuracy of model with k = 5: {accuracy} %')
print('')

Accuracy of model with k = 5: 0.9512195121951219 %

In [23]:
split_1_train, split_1_test, split_2_train, split_2_test = train_test_split(split_1,split_2, test_size=0.3, random_state=4,shuffle = True)

knn_value = KNeighborsClassifier(n_neighbors = 10)
knn.fit(split_1_train, split_2_train)
target_pred = knn.predict(split_1_test)
accuracy = accuracy_score(split_2_test,target_pred)  
print(f'Accuracy of model with k = 10: {accuracy} %')
print('')

Accuracy of model with k = 10: 0.9512195121951219 %

In [27]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

print(f"confusion_matrix is\n{confusion_matrix(split_2_test,target_pred)}")

confusion_matrix is
[[125   7]
 [  3  70]]

In [31]:
print(f"Accuracy is {accuracy_score(split_2_test,target_pred)}")

Accuracy is 0.9512195121951219

In [35]:
error_rate= 1 - accuracy_score(split_2_test,target_pred)
print(f"error rate is {error_rate:.2f}")

error rate is 0.05

In [37]:
print(f"classification report is {classification_report(split_2_test,target_pred)}")

classification report is               precision    recall  f1-score   support

           2       0.98      0.95      0.96       132
           4       0.91      0.96      0.93        73

    accuracy                           0.95       205
   macro avg       0.94      0.95      0.95       205
weighted avg       0.95      0.95      0.95       205