In [3]:
#NAME : Thejesh Ravikumar
#CWID : 20021148
#KDD_Assignment_06_RF_C50

In [11]:
# Importing Required Libraries and Packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import log_loss, ConfusionMatrixDisplay, average_precision_score, accuracy_score
from sklearn.metrics import roc_curve, precision_recall_curve, auc, f1_score, confusion_matrix

In [12]:
# Load the dataset 
df =pd.read_csv(r"E:\breast-cancer-wisconsin.csv")
df.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [16]:
print(df.shape)

(699, 11)

In [17]:
# to describe the data info
summary = df.describe()
print(summary)

             Sample          F1          F2          F3          F4  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               F5          F7          F8          F9       Class
count  699.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.437768    2.866953    1.589413    2.689557
std      2.214300    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000    4.000000

In [19]:
df['F6'] = df['F6'].replace("?",np.NaN)
df = df.dropna()
print (df.shape)

(683, 11)

In [20]:
split_1 = df.drop(columns = ['Class','Sample'])
split_2 = df['Class']

In [21]:
split_1

     F1  F2  F3  F4  F5  F6  F7  F8  F9
0     5   1   1   1   2   1   3   1   1
1     5   4   4   5   7  10   3   2   1
2     3   1   1   1   2   2   3   1   1
3     6   8   8   1   3   4   3   7   1
4     4   1   1   3   2   1   3   1   1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..
694   3   1   1   1   3   2   1   1   1
695   2   1   1   1   2   1   1   1   1
696   5  10  10   3   7   3   8  10   2
697   4   8   6   4   3   4  10   6   1
698   4   8   8   5   4   5  10   4   1

[683 rows x 9 columns]

In [22]:
split_2

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Class, Length: 683, dtype: int64

In [23]:
#splitting the data into training and testing datasets.
split_1_train, split_1_test,split_2_train, split_2_test = train_test_split(split_1, split_2 , test_size=0.3)

In [25]:
c50_model = DecisionTreeClassifier(criterion='entropy')

# Training the classifier
c50_model.fit(split_1_train,split_2_train)

# Making the predictions on the testing data
y_prediction = c50_model.predict(split_1_test)

# Evaluate the classifier
accuracy = accuracy_score(split_2_test, y_prediction)
print('Accuracy:', accuracy*100, "%")

Accuracy: 93.65853658536587 %

In [26]:
results = confusion_matrix(split_2_test, y_prediction)
print(results)
print('Classification Report')
print(classification_report(split_2_test, y_prediction))

[[134   6]
 [  7  58]]
Classification Report
              precision    recall  f1-score   support

           2       0.95      0.96      0.95       140
           4       0.91      0.89      0.90        65

    accuracy                           0.94       205
   macro avg       0.93      0.92      0.93       205
weighted avg       0.94      0.94      0.94       205

In [28]:
rf_results = RandomForestClassifier(n_estimators=100, random_state=42)
rf_results.fit(split_1_train,split_2_train)
rf_results_pred = rf_results.predict(split_1_test)
accuracy_rf_results = accuracy_score(split_2_test,rf_results_pred)
print("Accuracy of Random Forest model is ",accuracy_rf_results*100,"%")

Accuracy of Random Forest model is  97.5609756097561 %

In [30]:
results = confusion_matrix(split_2_test, rf_results_pred)
print(results)
print('Classification Report')
print(classification_report(split_2_test, rf_results_pred))

[[137   3]
 [  2  63]]
Classification Report
              precision    recall  f1-score   support

           2       0.99      0.98      0.98       140
           4       0.95      0.97      0.96        65

    accuracy                           0.98       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.98      0.98      0.98       205

In [31]:
important_features = rf_results.feature_importances_
name_of_feature = split_1.columns
feature_imp_df = pd.DataFrame({'feature':name_of_feature,'Importance':important_features})

In [33]:
feature_imp_df = feature_imp_df.sort_values(by = 'Importance',ascending = False)
feature_imp_df

  feature  Importance
1      F2    0.327306
2      F3    0.256693
5      F6    0.110727
6      F7    0.074977
7      F8    0.070693
4      F5    0.060373
0      F1    0.056361
3      F4    0.033776
8      F9    0.009094